SuperCliente/Connected Services/SuperPoderesService/CargarSuperPoderes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61204/CargarSuperPoderes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuperServicio" />
  <xs:element name="updateSuperPoderes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSuperPoderesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SuperServicio" minOccurs="0" name="updateSuperPoderesResult" nillable="true" type="q1:CargarSuperPoderesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSuperPoderes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SuperServicio" minOccurs="0" name="request" nillable="true" type="q2:ObtenerSuperPoderesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSuperPoderesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SuperServicio" minOccurs="0" name="getSuperPoderesResult" nillable="true" type="q3:ObtenerSuperPoderesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>