SuperCliente/Connected Services/SuperPoderesService/CargarSuperPoderes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SuperServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SuperServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61204/CargarSuperPoderes.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CargarSuperPoderesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargarSuperPoderesResponse" nillable="true" type="tns:CargarSuperPoderesResponse" />
  <xs:complexType name="ObtenerSuperPoderesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerSuperPoderesRequest" nillable="true" type="tns:ObtenerSuperPoderesRequest" />
  <xs:complexType name="ObtenerSuperPoderesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Personas" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerSuperPoderesResponse" nillable="true" type="tns:ObtenerSuperPoderesResponse" />
</xs:schema>